/*************************************************/
body {
    padding-inline: 5%;
}

.basic-container {
    display: flex;
    justify-content: space-between;
}

.center-vertical {
    margin-block: auto;
    width: 50%;
}

h1 {
    font-size: 3.5vw;
    font-family: Poppins;
    line-height: 30px;
}

h2 {
    font-size: 3.1vw;
    font-weight: 600;
    font-family: Poppins;
}

h3 {
    font-size: 2.4vw;
    font-weight: normal;
}

h4 {
    font-size: 1.3vw;
    line-height: 2px;
    margin-bottom: 50px;
}

h3, p {
    font-family: Bitter;
}

.section-title {
    margin-bottom: 30px;
}

section:not(:first-of-type) {
    margin-top: 100px;
}

button {
    padding: 15px;
    width: fit-content;
    background-color: rgb(252,183,194);
    border-radius: 50px;
    border-style: none;
    font-family: Poppins;
    transition: all 0.5s;
}

.learn-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.learn-btn span:after {
    content: '\279C';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.learn-btn:hover span {
    padding-right: 25px;
}
  
.learn-btn:hover span:after {
    opacity: 1;
    right: 0;
}


/**HERO***********************************************/
#profile_img {
    width: 35%;
    height: 35%;
    border-radius: 50%;
    box-shadow: 10px 5px 5px rgb(252,183,194);
}

.icons {
    width: 9%;
    height: 9%;
}

a:not(:first-child):not(:last-child) {
    padding-inline: 10%;
}

/**ABOUT***********************************************/
#about_txt {
    margin-left: 10vw;
}

#about_container {
    padding: 25px 50px;
}

/**PROJECT***********************************************/
.project {
    margin-bottom: 80px;
    padding: 25px 50px;
    background-color: rgb(245, 245, 245);
    box-shadow: 10px 5px 5px rgb(252,183,194);
    border-radius: 50px;
}

.project-img {
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
}

.project-text {
    margin-top: 50px;
}

.project-skills {
    display: flex;
    justify-content: space-evenly;
}

.skill {
    display: flex;
    align-items: center;
    margin-right: 3.5vw;
}

.skill-name {
    margin-left: 1.3vw;
}

.skill-img {
    height: 3.5vw;
}

.learn-more {
    text-align: center;
    margin-top: 25px;
}